body{
    background-color: rgb(208, 255, 80);
}
h1{
    text-align: center;
    font-size: 50px;
    display: auto;
    border: rgb(220, 207, 20) 5px groove;
    margin: 3%;
    padding: 2px;
    border-radius: 10px;
    transition: 0.25s;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 35%;
    left: 40%;
    background: rgb(5, 29, 28);
    border: rgb(250, 214, 11) 10px groove;
    border-radius: 12px;
    }
    .box input[type="text"], .box input[type="password"]{
        border: 0;
        text-align: center;
        background: rgb(0,0,0);
        display: block;
        margin: 20px auto;
        border: 2px solid blue;
        border-radius: 25px;
        padding: 3%;
        width: 200px;
        outline: none;
        color: white;
        transition: 0.25s;
     }
    .box input[type="submit"]{
        padding-left: 3%;
        margin-left: 100px;
        border: 0;
        text-align: center;
        background: none;
        display: block;
        border: 2px solid green;
        border-radius: 24px;
        padding: 3%;
        width: 100px;
        outline: none;
        color: white; 
        transition: 00.25s;
        cursor: pointer;
        font:bolder;
    }
    .box input[type="submit"]:hover{
        background:#2ecc71;
    }
    .box input[type=text]:focus, .box input[type="password"]:focus{
        border-color: green;
        width: 250px ;
    } 

